#jHeader {
  position: fixed;
  top: 0px
}

#jHeader #whitemkg-navbar .navbar-brand {
  padding: 1rem;
  margin-left: 3rem
}

#jHeader #whitemkg-navbar .navbar-brand img {
  width: 7.5rem
}

#jHeader #whitemkg-navbar a:after {
  height: 3px;
  bottom: -3px
}

#jHeader #whitemkg-navbar .current_page_item a {
  border-bottom: 3px solid #fff
}

.dark {
  background: #000000
}

.grid.alternate .vcenter {
  padding: 0 10% !important
}