#jHeader {
  position: fixed;


  #whitemkg-navbar {

    .navbar-brand {
      padding: 1rem;
      margin-left: 3rem;

      img {
        width: 7.5rem;
      }
    }
  }
}

.dark {
  background: #000000;
}