#jHeader {
  position: fixed;
  top: 0px;

  #whitemkg-navbar {

    .navbar-brand {
      padding: 1rem;
      margin-left: 3rem;

      img {
        width: 7.5rem;
      }
    }
    a:after {
      height: 3px;
      bottom: -3px;
    }
    .current_page_item{
      a{
        border-bottom: 3px solid #fff;
      }
    }
  }
}

.dark {
  background: #000000;
}