#jHeader {
  position: fixed;
  top: 0px;

  #whitemkg-navbar {

    .navbar-brand {
      padding: 0.5rem 0px;
      margin-left: 3rem;

      svg {
        width: 7.5rem;

        circle {
          animation: 0.5s ease alternate infinite blink;
        }
      }

      @media screen and (max-width: $tab) {
        padding: 0rem;

        svg {
          width: 6.5rem;
          height: auto;
          margin-top: 0px;
        }
      }

    }

    a:after {
      height: 3px;
      bottom: -3px;
    }

    .current_page_item {
      a {
        border-bottom: 3px solid #fff;
      }
    }
  }
}

.dark {
  background: #000000;
}

// Blink Animation 
@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}